@import url('https://fonts.googleapis.com/css2?family=VT323:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700&display=swap');
body{
  background-color: #110c2d;
}
.custom-cursor {
  position: absolute;
  width: 140px;
  height: 140px;
  background: radial-gradient(circle, rgba(92, 255, 255, 0.527) 50%, rgba(255, 255, 255, 0) 500%);
  border-radius: 50%;
  mix-blend-mode: overlay; /* Blend mode for the glow effect */
  pointer-events: none; /* Make sure the cursor doesn't interfere with clicks */
  animation: cursorGlow 0.8s infinite alternate; /* Animation for the glow effect */
  z-index: 99999; /* Ensure the cursor appears on top of other elements */
}


nav {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 10%;
}



nav a {
  color: #e5c7e2c0;
  text-decoration: underline;
font-weight: bold;

}
.dot-nav{

  height: 20px;
  width: 20px;
  border-radius: 100%;
  
  
}

#vertical-nav{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:fixed;
 
  
}
#main-nav{
  height: 100vh;
  width: 10vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.about-me-li{
  padding-left: 50px;
}
main {
  margin-top: 2rem;
}
p{
  font-family: Montserrat;
}
button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url( './images/blobanimation.svg' );
  background-repeat: no-repeat;
  margin-top: 5%;
  }
.svg{
  height: 500px;
  object-fit: contain;
  position: relative;
  margin:auto;
  animation: animate 6s ease-in-out infinite;
}
@keyframes animate{
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

.title {
	color: white;
	font-size: 56px;
	margin-bottom: 0px;
	font-weight: normal;
	padding-bottom: 16px;
}

.subtitle {
	color: #B69DF4;
	font-size: 24px;
	font-style: italic;
  margin:0px
}
.plant1{
  width: 100px;
  height: 100px;
  object-fit: contain;
  position: relative;
  margin:auto;
  animation: animatePlant1 6s ease-in-out infinite;
}
@keyframes animatePlant1{
  0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-10px);
	}
	100% {
		
		transform: translatey(0px);
	}

}
.plant2{
  width: 100px;
  height: 100px;
  object-fit: contain;
  position: relative;
  margin:auto;
  animation: animatePlant2 6s ease-in-out infinite;
  
}
@keyframes animatePlant2{
  0% {
		
		transform: translatey(5px);
	}
	50% {
		
		transform: translatey(15px);
	}
	100% {
		
		transform: translatey(5px);
	}
}


  
  .div_plant1 { grid-area: 1 /2 / 4 / 3; }
  .div_planet1{ grid-area: 3 /1 / 4 /6;}
  .div_planet2{ grid-area: 1 /5/ 4/ 4;}
  .div_svg { grid-area: 2 / 2 / 5 / 4; 
    }
  .div_plant2 { grid-area: 3 / 5 / 4 / 6; } 
  .div_star3 { 
    grid-area: 2/ 5 / 3/ 6; 
  } 
  .div_star { 
    grid-area: 3/ 1 / 3/ 6; 
  } 
  .div_star2 { 
    grid-area: 3/ 1 / 3/ 6; 
  } 
  .div_star4 { 
    grid-area: 4/ 5 / 3/ 6; 
  } 
  .div_headset { 
    grid-area: 2 / 1 / 3 / 6; 
  } 


  .main{
    display: flex;
  }
  .interduction{
    width: 50%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .interduction-text{
    color:white;
    padding-bottom: 20px;
    line-height: 31px;
  }
  .interduction-txt-div{
    padding-right: 30%;
    border-radius: 20%;
  }
  .planet1{
    height: 60px;
    object-fit: contain;
  position: relative;
  margin:auto;

  }
  .planet-sub{
    height:40px;
    padding-right: 10px;
  }
  .planet-sub-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  }
  .planet2{
    height: 150px;
    object-fit: contain;
  position: relative;
  margin:auto;

  }

  .starSub{
  
    height: 40px;
   
    animation: animateStar 4s infinite ease alternate;
  }

  .star{
    margin-top:-60px;
    margin-bottom: 70px;
    height: 40px;
    position: relative;
   
    animation: animateStar 4s infinite ease alternate;
  }
  @keyframes animateStar{
    from {opacity: 1;}
    to {opacity: 0.1;}
  }

  .star2{
    margin-top:-40px;
    margin-bottom: 70px;
    margin-left: 70px;
    height: 20px;
    position: relative;
   
   
    animation: animateStar2 2s infinite ease alternate;
  }

  @keyframes animateStar2 {
    from {opacity: 1;}
    to {opacity: 0.4;}
}


  .star3{
    height: 50px;
    position: relative;
   
    animation: animateStar3 1s infinite ease alternate;
  }
  @keyframes animateStar3 {
    from {opacity: 0.1;}
    to {opacity: 1;}
}
.star4{
  height: 20px;
  position: relative;
 
  animation: animateStar3 1s infinite ease alternate;
}
@keyframes animateStar3 {
  from {opacity: 1;}
  to {opacity: 0.5;}
}

.headset{
  height: 130px;
  position: relative;
  animation: animateHeadset 6s ease-in-out infinite;
 
  
}
@keyframes animateHeadset{
  0% {
		
		transform: translatey(-5px);
	}
	50% {
		
		transform: translatey(-10px);
	}
	100% {
		
		transform: translatey(-5px);
	}
}
.btn1 {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	background-color: #a790e38c;
	padding: 10px 46px;
	border-radius: 30px;
	font-family: Montserrat;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	margin-right: 15px;
}
.btn1:hover {
  color: #232163;
  background: rgb(255, 233, 177);
  box-shadow: 0px 0px 40px 18px rgba(255, 233, 177, .4);
}

.btn2 {
  text-decoration: none;
  color: #110c2d;
  background-color:#FFE9B1BA;
  padding: 10px 46px;
  border-radius: 30px;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  margin-right: 15px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.btn2:hover {
  color: #232163;
  background: #e5c7e2;
  box-shadow: 0px 0px 40px 18px rgba(255, 233, 177, .4);

}
.download-icon{
 margin: 0;
 height: 20px;
 width: 20px;
}
.header{
  padding-top: 15px;
  padding-right: 15px;
  
}
.experience{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
canvas{
display: flex !important;
flex-direction: column;
justify-items: center;
justify-content: center;
align-items: center;


}
.canvas{
  display: flex !important;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  height: 50vh !important;
  width:50vw !important;
  
  }
.title-subpage{
  color: #ffffff;
  font-size: 43px;
  font-family: Montserrat;
  font-weight: normal;
}
.sunIcon{
  height: 40px;
  animation: circle1 20s linear infinite;
  z-index: 1000;
 
}

@keyframes circle1 {
  0%{
    transform:rotate(360deg)
              translate(-235px)
              rotate(360deg)

  }
  100%{
    transform:rotate(0deg)
              translate(-235px)
              rotate(0deg)

  }
}

.logos{
  padding-top: 30px;
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.brain{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60vw;
  height:100vh;
  background-color: rgb(17, 12, 45);
}
.brainImg{
  height: 32vh;
}

.moonLogo{
  height: 40px;
  animation: circle2 35s linear infinite;
  position: relative;

}

@keyframes circle2 {
  0%{
    transform:rotate(360deg)
              translate(-350px)
           
  
  }
  100%{
    transform:rotate(0deg)
              translate(-350px)
              
  }
}

.vaadinlogo{
  height: 40px;
  animation: circle3 50s linear infinite;
}

@keyframes circle3 {
  0%{
    transform:rotate(360deg)
              translate(-300px)
           
  
  }
  100%{
    transform:rotate(0deg)
              translate(-300px)
              
  }
}

.sunCircle{
  width:475px;
  height:475px;
  border:1px solid#b69df4cb;
  position:absolute;
  border-radius:50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.earthCircle{
  width:600px;
  height:600px;
  border:1px solid #b69df498;
  position:absolute;
  border-radius:50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.moonCircle{
  width:700px;
  height:700px;
  border:1px solid #b69df44f;
  position:absolute;
  border-radius:50%; 
  display: flex;
  align-items: center;
  justify-content: center;

}
.experience-txt{
  height: 100vh;
  width: 30vw;
  display: flex;
  padding-right: 10vw;
  align-items: center;
  z-index: 100;
}


.reactLogo{
  height: 40px;
  animation: circlePlanet2 50s linear infinite;
  z-index: 1000;
  position: relative;

}

@keyframes circlePlanet2 {
  0%{
    transform:rotate(720deg)
              translate(-300px)
              rotate(720deg)
              
           
  
  }
  100%{
    transform:rotate(0deg)
              translate(-300px)
              rotate(0deg)
              
  }
}

.earthlogo{
  height: 40px;
  animation: circle3 50s linear infinite;
  position:relative;

}

@keyframes circle3 {
  0%{
    transform:rotate(360deg)
              translate(-300px)
              rotate(65deg)
             
           
  
  }
  100%{
    transform:rotate(0deg)
              translate(-300px)
              rotate(65deg)
  }
}



.default-gif{
  height: 20%;
}
.walkingboard{
 display: flex;
 justify-content: center;
}
.board-div{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
}
.about-div{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 20vh;
}
.about-title{
  color: white;
  font-size: 40px;
  font-family: VT323;
  
}
.hobbies-div{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
justify-content: center;

}
.hobbies-txt{
  width: 40vw;
  height: 10vh;
  margin-bottom: 6vh;
  background-color: #00000260;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.click-me-txt{
  font-family: VT323;
  color:white;
  font-size: 25px;
  animation: blinker 1s linear infinite;

}
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.pop-up-enter {
  transform: translateY(100%);
}

.pop-up-enter-active {
  transform: translateY(0);
  transition: transform 400ms;
}
.expl-hobbies-txt{
  color: white;
  font-family: VT323;
  font-size: 20px;
}
.typewriter {

  font-family: VT323;
  color:#0000;
  background:
    linear-gradient(-90deg,#ffffff 5px,#0000 0) 10px 0,
    linear-gradient(#ffffff 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--n)*.1s) steps(var(--n)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}
.icon-transition-enter{
  transform: opacity(0);
}
.icon-transition-enter-active{
  transform: opacity(1);
  transition: transform 1000ms;
}
.contact-p{
  font-family: Montserrat;
  color: #7d7aaa;
  font-size: 20px;
  
  display: flex;

}

.footer-plant-px{
  height: 80px;
}

.footer-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
.contact-p2{
  color: #605e85;
  text-align: center;
}
.contact-p2-div{
  width: 50%;
  font-family: Montserrat;
}
.contact-icon{
  color: #605e85;
  width: 25px;
  height: 20px;
}
.footer-icons{
  display: flex;
  flex-direction: row;
  width: 20vw;
  justify-content: space-around;
}
.icon-circle{
  border: #605e85 1px solid;
  border-radius: 50%;
  padding:10px;
}
.exp-txt-content{
  backdrop-filter: blur(2px);
  z-index: 100;
}

.p-subpage{

  font-family: Montserrat;
	color: white;
	padding-bottom: 20px;
	line-height: 31px;
}

.p-sub-title-subpage{
  color: #FFE9B1;
  font-size: 20px;
  font-style: italic;

}
.hobbies-p{

  text-align: center;
}
.subtitle-div{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.hobbiesStats-div{

  height: 50vh;
  width: 20vw;
  margin-bottom: 15vh;
}
.skills-div{

  height: 50vh;
  width: 20vw;
  margin-bottom: 15vh;
}
.hobbiesStats-div-border{
  border: 3px solid white;
  height: 50vh;
  width: 20vw;
}
.hobbies-p-stats{
  color: wheat;
  text-decoration: underline;
  font-family: VT323;
  font-size: 25px;
  margin-top: 0px;
  text-align: right;
  z-index: 5;
  animation: blinker 1s linear infinite;
 
}
.hobbies-p-stats:hover{
  cursor: pointer;
}
.skills-p-stats{
  color: wheat;
  text-decoration: underline;
  font-family: VT323;
  font-size: 25px;
  margin-top: 0px;
  z-index: 5;
  animation: blinker 1s linear infinite;

}
.skills-p-stats{
  cursor: pointer;
}
.stats-div{
  width: 60vw;
  height: 70vh;
  display: flex;
  align-items: center;
justify-content: space-between;
  flex-direction: row;
  position: absolute;
 
}
.skills-p{
  color: wheat;
  font-family: VT323;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 2px;
  margin-bottom: -20px;
}
.hobbies-p{
  color: wheat;
  font-family: VT323;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  text-align: left;

}
.icon-hobbies{
  height: 50px;
  padding-left: 20px;
  padding-right: 30px;
}
.hobby-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.heart{
  height: 20px;
  padding-left: 10px;
}
.skill-meter-img{
  width: 15vw;
  margin-bottom: -30px;
  padding-left: 20px;
}

.project-bookingtool{
  background-color: #ffe9b1;
  height: min-content;
  width: 20vw;
  position: absolute;
  border-radius: 20px;
  z-index: 1000;
  box-shadow: 1px 2px 16px -1px #000000a8;
}
.project-heading-bt{
  color: #110c2d;
  margin-top: 2px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: Montserrat;
}
.project-close{
  display: flex;
  justify-content: flex-end;
  
  
}
.project-close-btn{
  height: 20px;
  width: 20px;
  padding-top: 10px;
  padding-right: 10px;
  position: absolute;
  transition: transform .2s; 
}
.project-close-btn:hover{
  transform: scale(1.2);
}

.project-description-bt{
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.project-maze{
  background-color: #7743db;
  height: min-content;
  width: 20vw;
  position: absolute;
  border-radius: 20px;
  z-index: 1000;
  box-shadow: 1px 2px 16px -1px #000000a8;
}
.project-sproutsync{
  background-color: #e5c7e2;
  height: min-content;
  width: 20vw;
  position: absolute;
  border-radius: 20px;
  z-index: 1000;
  box-shadow: 1px 2px 16px -1px #000000a8;
}
.project-waterloo{
  background-color: #5b6ee1;
  height: min-content;
  width: 20vw;
  position: absolute;
  border-radius: 20px;
  z-index: 1000;
  box-shadow: 1px 2px 16px -1px #000000a8;
}
.project-page{
  background-color: #110C2D;
  scroll-behavior: smooth;
}
.react-proj-img{
  height: 215px;
  width: 320px;
  background-image: linear-gradient(150deg, rgba(86, 61, 112, 0.712) 5%, rgba(246, 234, 154, 0.644) 190%), url("./images/MAZE_SOLVER.png");
  background-position: center;
  border-radius: 20px;
  margin-bottom: 30px;
}
.proj-page-w{
  width: 70%;
  padding-top: 50px;
}
.project-page{
  display: flex;
  justify-content: center;
}

.react-proj-content{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: space-between;
}

.react-proj-txt{
  width: 50%;
  padding-left: 20%;
  
}
.react-proj-p{
  margin-top: 0px;
  color: #FCFDF2;
  font-family: Montserrat;

  line-height: 31px;
}
.react-proj-heading{
  color: #9984D2;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 20px;
}
.proj-tags{
  display: flex;
  flex-direction: row;
  padding-top: 25px;


}
.tag-skill-threejs{
  background:linear-gradient(150deg, rgba(86, 61, 112, 0.712) 5%, rgba(246, 234, 154, 0.644) 190%);
  border-radius: 10px;
  margin-right: 20px;
}
.tag-skill-backtracking{
  background:linear-gradient(150deg, rgba(86, 61, 112, 0.712) 5%, rgba(246, 234, 154, 0.644) 190%);
  border-radius: 10px;
  margin-right: 20px;
}
.tag-skill-2{
  background-color: #ffe9b196;
  border-radius: 10px;
  margin-right: 20px;
}
.tag-p{
  font-size: 13px;
  margin:0px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;

  
}
.tag-android{
  font-size: 13px;
  margin:0px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: rgb(245, 188, 247);
  
}
.tag-angular{
  font-size: 13px;
  margin:0px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: rgb(248, 196, 255);

  
}
.tag-typescript{
  font-size: 13px;
  margin:0px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #060413;

  
}
.tag-html{
  font-size: 13px;
  margin:0px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: rgb(196, 222, 255);

  
}
.tag-java{
  font-size: 13px;
  margin:0px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #09051b;
  
}
.tag-tween{
  font-size: 13px;
  margin:0px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #110c2d;
  
}
.tag-threejs{
  font-size: 13px;
  margin:0px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: rgb(240, 217, 182);
  
}
.react-li{
  color: #7441D6;
  padding-top: 20px;
  font-family: Montserrat;
}
.project2, .project3, .project4{
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.project1{
  height: 100vh;
  display: flex;
  
  flex-direction: column;
}
.dhc-proj-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}


.dhc-proj-heading{
  color: #9984D2;
  text-transform: uppercase;
  text-align: end;
  font-family: Montserrat;
}
.dhc-proj-txt{
  width: 50%;
  padding-right: 20%;
}
.dhc-proj-img{
  height: 215px;
  width: 320px;
  background-image: linear-gradient(151deg, rgba(64, 91, 225, 0.671) 5%, rgba(205,136,239,0.7231093120842087) 100%), url("./images/DHC_Logo.PNG");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 30px;
}
.mobile-proj-img{
  height: 215px;
  width: 320px;
  background-image: linear-gradient(150deg, rgba(214, 136, 210, 0.568) 5%, rgba(38, 46, 102, 0.644) 190%), url("./images/MOBILE_APP.PNG");
  background-position: top;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 30px;
}
.angular-proj-img{
  height: 215px;
  width: 320px;
  background-image: linear-gradient(150deg, rgba(192, 52, 247, 0.719) 3%, rgba(4, 29, 112, 0.274) 190%), url("./images/ANGULAR.PNG");
  background-position: top;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 30px;
}
.tag-skill-vaadin{
  background: linear-gradient(151deg, rgba(54, 66, 172, 0.671) 5%, rgba(205,136,239,0.7231093120842087) 100%);
  border-radius: 10px;
  margin-right: 20px;
}
.tag-p-vaadin{
  font-size: 13px;
  margin:0px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: rgb(233, 209, 255);
}
.tag-skill-java{
  background-color: #7D58A9;
  border-radius: 10px;
  margin-right: 20px;
}
.proj-sub-div{
  padding-bottom: 130px;
}
.tag-skill-android{
  background: linear-gradient(150deg, rgba(214, 136, 210, 0.712) 5%, rgba(104, 84, 194, 0.932) 190%);
  border-radius: 10px;
  margin-right: 20px;
}
.tag-skill-angular{
  background: linear-gradient(150deg, #d688d2b6 5%, #6854c2ee 190%);
  border-radius: 10px;
  margin-right: 20px;
}
.tag-skill-html-ss{
  background: linear-gradient(150deg, #6854c2ee 5%,#d688d2b6  190%);

  border-radius: 10px;
  margin-right: 20px;
}
.tag-skill-typescript{
  background: linear-gradient(150deg, #6854c2ee 120%,#5f41e6ee  5%);

  border-radius: 10px;
  margin-right: 20px;
}
.back-home{
  
  height: 40px;
  width: 10vw;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;


}

.back-planet{
  position: fixed;
  height: 30px;
  width: 30px;
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.bt-popup-img{
  height: 50px;
  width: inherit;
  background:
  linear-gradient(151deg, rgba(238, 217, 178, 0.671) 5%, rgba(205,136,239,0.7231093120842087) 100%), url("./images/DHC_Logo.PNG");
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.link-to-dhc{
  color:#ffe9b1;
  padding-left: 10px;
  padding-bottom: 20px;
}
.project-div{
  padding-bottom: 20px;
}
.link-dhc-div{
  background-color: #d2a78a;
  height: 30px;
  width:fit-content;
  padding-right: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: center;

  border-radius: 20px;
}
.link-dhc-div:hover{
  background-color:#232163;
}

.wl-popup-img{
  height: 50px;
  width: inherit;
  background-image: linear-gradient(150deg, rgba(214, 136, 210, 0.568) 5%, rgba(38, 46, 102, 0.644) 190%), url("./images/MOBILE_APP.PNG");
  background-position: right;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.link-to-waterloo{
  color:#ffffffe8;
  padding-left: 10px;
  padding-bottom: 20px;
}

.link-waterloo-div{
  background-color: #110c2d;
  height: 30px;
  width:fit-content;
  padding-right: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: center;

  border-radius: 20px;
}
.link-waterloo-div:hover{
  background-color:#232163;
}
.h3-projects{
 
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  align-self: center;
  margin-bottom: 0px;
}
.p-projects{
  font-family: Montserrat;
  color: #ffe9b1;
  font-style: italic;
  margin-top: 2px;

}
.hover-txt{
  position: absolute;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: -40px;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
  animation: blinkSlowly 1s infinite ease alternate;
}

@keyframes blinkSlowly {
  from {opacity: 1;}
  to {opacity: 0.5;}
}

.ms-popup-img{
  height: 50px;
  width: inherit;
  background-image: linear-gradient(150deg, rgba(86, 61, 112, 0.712) 5%, rgba(246, 234, 154, 0.644) 190%), url("./images/MAZE_SOLVER.png");
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.link-to-maze{
  color:#ffffffe8;
  padding-left: 10px;
  padding-bottom: 20px;
}

.link-maze-div{
  background-color:#110c2d;
  height: 30px;
  width:fit-content;
  padding-right: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: center;

  border-radius: 20px;
}
.link-maze-div:hover{
  background-color:#aea7e9;
}
.ss-popup-img{
  height: 50px;
  width: inherit;
  background-image: linear-gradient(150deg, rgba(192, 52, 247, 0.719) 3%, rgba(4, 29, 112, 0.274) 190%), url("./images/ANGULAR.PNG");
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.link-to-ss{
  color:#ffffffe8;
  padding-left: 10px;
  padding-bottom: 20px;
}

.link-ss-div{
  background-color:#a155db;
  height: 30px;
  width:fit-content;
  padding-right: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: center;

  border-radius: 20px;
}
.link-ss-div:hover{
  background-color:#7146a5;
}
.project-btn-mobile{
  display: none;
}
  
/* Styles for mobile */
::-webkit-scrollbar { display: none; }

@media (max-width: 768px) {
 
  .hobbies-txt{
    width: 100vw; 
    height: 16vh;
    margin-bottom: 0vh;

  }
  .typewriter{
    width: fit-content;
    

  }
  .expl-hobbies-txt{
    max-width: 90vw;
    
  }
  .hobbies-p{
    width: max-content;
    padding: 0px;
    text-align: left;
  }
  .canvas{
    position: relative;
    width: 100vw !important;
  }
  .exp-txt-content{
    position:relative;
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5vh;
    
  }
  .p-subpage{
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 160px;
    z-index: 100;
    backdrop-filter: blur(2px);
  }
  .experience-txt{
    width: 100vw;
    padding:0px;
  }
  .brain{
    display: none;
  }

  .svg{
    height: 330px;
  }
  .interduction{
    position: absolute;
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .div_svg{
    grid-area: 2/ 3 / 5 / 4;
  }
  .subtitle-div{
    padding-bottom: 39vh;
    display:flex;
    flex-direction: row;

    
  }
  .title{
    margin-top: 0px;
  }

  .interduction-txt-div {

    display: none;
  }
  .div_star3 {
    grid-area: 2/ 5 / 4/ 4;
  }
  .div_star {
    grid-area: 2/ 1 / 3/ 6;
  }
  .btn1{
    width: 100%;
  }
  .btn2{
    width: 80%;
    align-self: center;
    justify-content: center !important;
    margin: 0px;
  }
  .title-subpage{
    
    padding-left: 10vw;

  }

  .exp-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-plant-px{
    height: 50px;
  }
  .contact-p2{
    width: 80vw;
    text-align: center;
  }
  .contact-p2-div{
    width: 80vw;
  }
  .footer-icons{
    width: 60%;
  }
  .stats-div {
    width: 80vw;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 40vh;
    flex-direction: column;

   
  }
  .hobbies-div {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .icon-hobbies {
    height: 40px;
    padding-left: 0px;
    padding-right: 5px;
  }
  .heart{
    height: 20px;
  }
  .icon-hobbies {
    height: 40px;
    padding-left: 0px;
    padding-right: 5px;

  }
  .skills-p {
    padding-left: 0px;
    width: min-content;
  }
  .skill-meter-img {
    width: 27vw;
    margin-bottom: 0px; 
    padding-left: 0px;
    padding-top: 20px;
  }
  .hobbiesStats-div-border{
    border:0px;
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    justify-content: space-between;
    width: 80vw;
  }
  .hobbies-p-stats{
    text-align: left;
    width: max-content;
    animation: none;
  }
  #about-me-section{
    overflow: scroll;
  }
  .stars{
    display: none;
  }
  .hobbies-div{
    width: min-content;
    margin-bottom: 5vh;
  }
  .hobbiesStats-div{
    width: 80vw;
    margin-bottom: 6vh;
    height: min-content;
  }
  .skills-div{
    width: 80vw;
    height: max-content;
  }
  .hobbie-section-div{
    width: 130px;
  }
  .skills-p-stats{
    animation: none;
  }
  .board-div{
    height: 100vh;
  }
  .plant2{
    width: 50px;
    height: 90px;
  }
  .div_plant2 {
    grid-area: 3 / 4/ 3 / 6;
  }
  .headset {
    display: none;
  }
  .planet1{
    display: none;
  }
  .planet2{
    display: none;
  }
.parent{
  margin-top: 16vh;
}
.planet-sub-div{
  width: 80vw;
padding-left: 10vw;
}
.div_plant1 {
	grid-area: 2 /1 / 4 / 3;
}
.me{
  width: 80px !important;
height: 230px !important;
background-repeat: no-repeat !important;
}
.main {
	height: 87vh;
	align-items: center;
  margin:0px;
}
#main-nav {
	height: 10vh;
	width: 100vw;
	
}
#vertical-nav {
	flex-direction: row;
	width: 100px;
	height: fit-content;
}
.header{
  display: none;
}
.about-div{
  padding-top: 6vh;

}
.project-btn-mobile{
  display: flex;
  justify-content: center;
  
}
.link-to-projects{
  width: 80%;
}
.btn-projects {
  
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	background-color: #a790e38c;
	padding: 10px 46px;
	border-radius: 30px;
	font-family: Montserrat;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	width: 100%;

}
.back-home{
  
  width: 100vw;
  z-index: 1000;
  background-color: #110c2d;
  position: fixed;
  align-items: flex-start;
}
.back-planet {
	
	height: 20px;
	width: 20px;
	margin-top: 10px;
}
.proj-page-w {
	width: 80%;
}
.react-proj-content {

	flex-direction: column;

}
.dhc-proj-heading {
	text-align: start;
}
.react-proj-txt {
	width: 100%; 
	padding-left: 0px;
}
.dhc-proj-txt {
	width: 100%;
	padding-right: 0px;
}
.project1 {
	height: max-content;
	flex-direction: column;
	padding-bottom: 100px;
}
.proj-sub-div {
	padding-bottom: 20px;
}
.react-proj-p {
	padding-top: 40px;
}
.project2, .project3, .project4 {
	height: max-content;
	flex-direction: column;
	padding-bottom: 100px;
}
.dhc-proj-content {
	
	flex-direction: column-reverse;
}
.project2, .project3, .project4 {
	height: max-content;
	flex-direction: column;
	padding-bottom: 100px;
}

}
/*style for pixel6*/

@media only screen  
and (max-device-height : 1023px)
and (min-device-height: 850px) 
and (max-device-width: 500px){

  .title-subpage {
    padding-left: 10vw;
    padding-top:0px;
    margin-top: 0px;
    
  }
  .subtitle-div {
    padding-bottom: 33vh;
  }
  .hobbies-txt{
    height: 20vh;
  }


  
}
/* Styles for small laptops/ tablets */
@media only screen   
and (min-device-width : 768px)   
and (max-device-height: 800px )
{ .svg{
  height: 400px;
}} 

/*Styles for weird ass laptops*/
@media (max-device-height: 650px ) {
  .svg{
    height: 300px;
  }
  #contact-section{
    height: 58vh;
  }
  .title-subpage{
    font-size: 25px;
  }
  .headset{
    height: 80px;
  }
}
/*styles for big screens*/
@media (min-device-width: 2000px){
  p{
    font-size: 18px;
  }
  .subtitle,.p-sub-title-subpage{
    font-size: 23px;
  }
  .svg{
    height: 600px;
  }

}
